# Core Framework & API
django>=5.2
djangorestframework
djangorestframework-simplejwt

# Database & Production Server
gunicorn
dj-database-url
psycopg2-binary

# Security & Static Files
django-cors-headers
whitenoise

# Payment Gateway
razorpay

# PDF & QR Generation (Fixes the ModuleNotFoundErrors)
xhtml2pdf
reportlab
qrcode[pil]
Pillow

# Utilities
requests
python-dotenv
